 {% extends "layout.html" %}
 {% block body %}

  <!-- Page Header -->
  <header class="masthead" style="background-image: url('{{  url_for('static', filename='img/home-bg.jpg',) }}')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="site-heading">
            <h1>Edit Panel</h1>
            <span class="subheading">Manage posts</span>
          </div>
        </div>
      </div>
    </div>
  </header>
  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">     

       <form name="sentMessage" id="contactForm" action = "/addNew/{{sno}}" method = "POST" novalidate>
          <div class="control-group">
            <div class="form-group floating-label-form-group controls">
              <label>Title</label>
              <input type="text" class="form-control" placeholder="Title" name = "title" id="title" required data-validation-required-message="Please enter your title.">
              <p class="help-block text-danger"></p>
            </div>
          </div>
          <div class="control-group">
            <div class="form-group col-xs-12 floating-label-form-group controls">
              <label>Tag Line</label>
              <input type="text" class="form-control" placeholder="Tag Line" name = "tagLine" id="tagLine" required data-validation-required-message="Please enter your phone number.">
              <p class="help-block text-danger"></p>
            </div>
          </div>
          <div class="control-group">
            <div class="form-group floating-label-form-group controls">
              <label>Post</label>
              <textarea rows="5" class="form-control" placeholder="Post" name = "postContent" id="postContent" required data-validation-required-message="Please enter a message."></textarea>
              <p class="help-block text-danger"></p>
            </div>
          </div>
          <div class="control-group">
            <div class="form-group floating-label-form-group controls">
              <label>Slug</label>
              <input type="text" class="form-control" placeholder="slug" name = "slug" id="slug" >
              <p class="help-block text-danger"></p>
            </div>
          </div>
          <div class="control-group">
            <div class="form-group floating-label-form-group controls">
              <label>Posted By</label>
              <input type="text" class="form-control" placeholder="Posted By" name = "posted_by" id="posted_by" >
              <p class="help-block text-danger"></p>
            </div>
          </div>
          <div class="control-group">
            <div class="form-group floating-label-form-group controls">
              <label>Image File</label>
              <input type="text" class="form-control" placeholder="Image File" name = "img_file" id="img_file" required data-validation-required-message="Please edit post">
              <p class="help-block text-danger"></p>
            </div>
          </div>
          <br>
          <div id="success"></div>
          <div class="form-group">
            <button type="submit" class="btn btn-primary" id="sendMessageButton">Save Changes</button>
          </div>
        </form>

    </div>
  </div>

  {% endblock %}

  